#container{
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#feladat, #megoldas{
    width: 500px;
    padding: 50px 10px;
    font-size: 14px;
}

#feladat {
    display: flex;
    flex-direction: column;
    
}

.lorem {
    width: 350px;
    
    margin: 0 auto;
    margin-top: -1px;
    margin-bottom: -1px;

    padding: 10px;
    border: black  solid 2px;
       
}
.lorem:hover{
    background-color: orange;
}